@use '../../../variables' as v;

.board-players{
    background-color: v.$card-color--2;
    border-radius: 1.3vh;
    border: v.$border-primary-4px;
    height: v.$height-card-normal-size;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vmin;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    align-items: center;
    height: 4.3vmin;
    width: 100%;
    background: v.$card-color--3;
    color: aliceblue;
}
.name-player{
    display: flex;
    justify-content: center;
    align-items: center;
    background: v.$card-color--1;
    height: 70%;
    width: 30vmin;
    border-radius: 3vh;
    color: white;
    font-size: 1.8vmin;
    font-weight: 600;
    text-shadow: v.$text-shadow-stroke;
    text-transform: capitalize;
}
.find-next-card{
    position: absolute;
    top: 1.2vmin;
    right: 3vmin;
    border-radius: 50%;
    height: 3.5vmin;
    width: 3.5vmin;
    background-color: v.$primary-color-4;
    border: v.$border-primary-2px;
    font-size:  1.5vmin;
    font-weight: 580;
    color: antiquewhite;
    text-shadow: v.$text-shadow-stroke;
    cursor: pointer;

}
.find-next-card:active{
    filter: brightness(0.5);
}

.arrow {
    border: solid rgb(230, 230, 230);
    border-width: 0 0.4vmin 0.4vmin 0;
    display: inline-block;
    padding: 0.4vmin;
    cursor: pointer;
  }

.shift-left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.shift-right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.shift-left:hover{
    transform: scale(1.2) rotate(135deg);
    -webkit-transform: scale(1.2) rotate(135deg);
}
.shift-right:hover{
    transform: scale(1.2) rotate(-45deg);
    -webkit-transform: scale(1.2) rotate(-45deg);
}
.container-cards-BP{
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 2vmin;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1vmin;
}
.container-card1-BP{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
}
.container-card1-nc-BP{
    height: 100%;
    width: 16.6vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: v.$primary-color-4;
    border-top: v.$border-primary-4px;
    border-left: v.$border-primary-4px;
    border-right: v.$border-primary-4px;
    border-top-left-radius: 1.7vw;
    border-top-right-radius: 1.7vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.box-card1-BP{
    position: relative;
    right: 0.5vmin;
}
.next-card{
    z-index: 4;
    font-size: 1.6vmin;
    font-weight: 600;
    color: antiquewhite;
    text-shadow: v.$text-shadow-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
}