@use '../../../variables' as v;

.exit-btn{
    position: absolute;
    right: 1.2vw;
    top: 1.2vw;
    height: 2.5vw;
    width: 2.5vw;
    background-image: url(../LogOut/logout.webp);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    cursor: pointer;
}

.exit-label{
    color: white;
    position: relative;
    font-size: 0.9vw;
    left: 0.3vw;
    top:5.5vh    
}
.exit-game:focus,.log-out-game:active{
    filter: contrast(0.4);
}
.black-bg-exit{
    background: rgba(0, 0, 0, 0.884);
    position: absolute;
    top:0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-window{
    position: absolute;
    background: v.$bg-color-1-2;
    height: 18vw;
    width: 35vw;
    border-radius: 15px;
    color: v.$bg-color-4;
    font-size: 2vw;
    font-weight: 700;
    text-shadow: v.$text-shadow-primarycolor;
    border: v.$border-primary-4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-exit-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 2.5vw;
}
.no-showed-window{
    visibility: hidden;
    pointer-events: none;
}

.btn-exit{
    height: 7vh;
    width: 10vw;
    border-radius: 0.5vw;
    color: v.$bg-color-4;
    font-size: 2vw;
    font-weight: 700;
    text-shadow: v.$text-shadow-primarycolor;
    border: v.$border-primary-4px;
    cursor: pointer;

}
.btn-exit:active{
    filter: brightness(0.8);
}
.btn-exit.leave-btn{
    background: v.$primary-color-4-5;
}
.btn-exit.wait-leave-btn{
    background: v.$primary-color-4;
    filter: grayscale(0.8);
    pointer-events: none;
}
.btn-exit.cancel-btn{
    background: v.$blue-btn;
}