@use '../../../variables' as v;



.order-card{
    justify-self: center;
    align-self: center;
    // background: v.$card-color-0;
    background: v.$bg-color-1;
    border-radius: 1.3vh;
    border: v.$border-primary-4px;
    
    padding: 0.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1vh;
    height: 100%;
    width: 13vw;
    
}
.order-done{
    filter: v.$drop-show-order-quest-Done;
}
.order-title{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    position: relative;
    z-index: 3;
    width: 100%;
    top: 1.4vh;
    font-family: 'Shizuru', cursive;
    color: white;
    text-shadow: v.$text-shadow-primarycolor;
    font-weight: 700;
    font-size: 1.5vw;
}
.order-gold{
    position: relative;
    left: 5.4vw;
    bottom: 5.5vh; 
}

.order-img{
    position: absolute;
    justify-self: center;
    align-self: center;
    height: 29vh;
    width: 14vw;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.order-img.fiery{
    background-image:url(../Card/image/fiery1.png); 
}
.order-img.shocking{
   background-image: url(../Card/image/shocking3.png);
}

.order-img.everlasting{
   background-image: url(../Card/image/everlasting4.png);
}

.order-img.divine{
   background-image: url(../Card/image/divine2.png); 
}

.order-img.elves{
   background-image: url(../Card/image/elves_white.png);
   scale: (0.95);
  
}

.order-img.dwarves{
   background-image: url(../Card/image/dwarves_white.png);
}

.order-img.orcs{
   background-image: url(../Card/image/orcs_white.png); 
   scale: (0.95);
}
.order-img.dragons{
  background-image: url(../Card/image/dragons_white.png);
}

.request-order{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2vh;
    border: v.$border-primary-2px;
    background-color: v.$primary-color-2;
    z-index: 2;
    width: 90%;
    height: 3vh;
    color: white;
    font-size: 1.6vh;
    font-weight: 600;
    text-shadow: v.$text-shadow-stroke;
    margin: 0.3vh;
    text-transform: capitalize;
}
.bar-order{
    position: absolute;
    align-self: center;
    width: 90%;
    height: 0.3vh;
    background: v.$primary-color;
    filter: drop-shadow(0px 0px 0.2vh red)
}
.reward-orders{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3vh;
    background-color: hsl(0, 11%, 9%);
    border-radius: 2vh;
    border: 0.3vh solid black;
    color: white;
    text-align: center;
    font-size: 1.5vh;
    font-weight: 600;
    text-shadow: v.$text-shadow-stroke;
    margin: 0.3vh;
    z-index:2;
}
*.req-done{
    filter: drop-shadow(0px 0px 0.3vw red)
}
.reward-orders.req-done{
    background: v.$primary-color;
}
