@use '../../variables' as v;

.dice-contenitor{
    display: grid;
    grid-template-columns: 1fr repeat(2,0.5fr);
    grid-template-areas: 
        'imgDice labelD labelD'
        'imgDice btnInc btnDec';
}
.dice-img{
    grid-area: imgDice;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
    position: relative;
    top: -10px;
    cursor: pointer;
}

.no-active{
    filter: grayscale(1);  
    pointer-events: none;
}
@keyframes strech {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
.touched-dice{
    filter: drop-shadow(0px 0px 20px #fa0202); 
    animation: strech  1s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.dice-rolled{
    grid-area: labelD;
    align-self: end;
    justify-self: center;
    background: #ddd88c;
    height:v.$label-height;
    width: v.$label-width;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 24px Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
    
  }

.inc-btn:active,.dec-btn:active{
    opacity: 0.7;
}
.inc-btn,.dec-btn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px;
    cursor: pointer;
}
.inc-btn{
    grid-area: btnInc;
    background: url("./plus.png");
    background-size: cover;
    justify-self: self-end;
    
}
.dec-btn{
    grid-area: btnDec;
    background: url("./menus.png");
    background-size: cover;
    justify-self: self-start;
}


