$label-height: 50px;
$label-width: 50px;
$label-border-radius: 10px;
$label-color: hsl(56, 54%, 70%);
$label-color-1: hsl(56, 54%, 50%);
$label-color-2:hsl(40, 100%, 39%);
$primary-color:hsl(0, 72%, 25%);
$primary-color-2:hsl(0, 72%, 60%);
$primary-color-3:hsl(0, 72%, 80%);
$primary-color-4:hsl(0, 72%, 40%);
$primary-color-5:hsl(0, 75%, 70%);
$primary-color-6:hsl(0, 75%, 60%);
$skill-table-color:hsl(35, 65%, 30%);
$bg-color:hsl(35, 65%, 15%);
$bg-color-0:hsl(35, 65%, 5%);
$bg-color-1:hsl(35, 19%, 49%);
$bg-color-2:hsl(35, 65%, 40%);
$bg-color-3:hsl(35, 90%, 45%);
$skill-craft-item: hsl(35, 50%, 75%);
$card-color--3: hsl(0, 10%, 2%);
$card-color--2: hsl(0, 10%, 5%);
$card-color--1: hsl(0, 10%, 10%);
$card-color-0: hsl(0, 10%, 20%);
$card-color-1: hsl(0, 10%, 45%);
$card-color-2: hsl(0, 15%, 55%);
$card-color-3: hsl(0, 15%, 70%);
$border-primary-6px: 6px solid $primary-color;
$border-primary-4px: 4px solid $primary-color;
$border-primary-2px: 2px solid $primary-color;
$text-shadow-stroke: 1px -1px 4px #000000, -1px -1px 4px #000000,-1px 1px 4px #000000,1px 1px 4px #000000;
$height-card-normal-size: 290px;