$label-height: 50px;
$label-width: 50px;
$label-border-radius: 10px;
$label-color: hsl(56, 54%, 70%);
$label-color-0: hsl(33, 60%, 50%);
$label-color-1: hsl(54, 54%, 50%);
$label-color-3: hsl(33, 56%, 30%);
$label-color-2:hsl(40, 100%, 39%);
$label-color-4:hsl(40, 68%, 60%);
$primary-color:#6e1212;
$primary-color-1:hsl(0, 72%, 15%);
$primary-color-2:hsl(0, 72%, 60%);
$primary-color-3:hsl(0, 72%, 80%);
$primary-color-4:hsl(0, 72%, 40%);
$primary-color-4-5:hsl(0, 72%, 45%);
$primary-color-4-6:hsl(0, 77%, 48%);
$primary-color-5:hsl(0, 75%, 70%);
$primary-color-6:hsl(0, 78%, 57%);
$skill-table-color:hsl(35, 65%, 30%);
$bg-color:hsl(35, 65%, 15%);
$bg-color--1:hsl(35, 65%, 3%);
$bg-color-0:hsl(35, 65%, 5%);
$bg-color-1: hsl(220, 70%, 20%);
$bg-color-1-2:hsl(0, 41%, 9%);
$bg-color-1-3:hsl(0, 41%, 20%);
$bg-color-2:#a87124;
$bg-color-2-3:hsl(35, 65%, 20%);
$bg-color-2-4:hsl(35, 65%, 30%);
$bg-color-3-4:hsl(32, 85%, 55%);
$bg-color-3:hsl(35, 90%, 45%);
$bg-color-4:hsl(40, 75%, 60%);
$bg-color-6:hsl(40, 75%, 70%);
$bg-color-5:hsl(25, 35%, 57%);
$skill-craft-item: hsl(35, 50%, 75%);
$card-color--3: hsl(0, 10%, 2%);
$card-color--2: hsl(0, 10%, 5%);
$card-color--1: hsl(0, 10%, 10%);
$card-color-0: hsl(0, 10%, 20%);
$card-color-1: hsl(0, 10%, 45%);
$card-color-2: hsl(0, 15%, 55%);
$card-color-3: hsl(0, 15%, 70%);
$card-color-4: hsl(0, 15%, 80%);
$border-primary-6px: 6px solid $primary-color;
$border-primary-4px: 4px solid $primary-color;
$border-primary-2px: 2px solid $primary-color;
$border-primary2-6px: 6px solid $primary-color-3;
$border-primary2-4px: 4px solid $primary-color-3;
$border-primary2-2px: 2px solid $primary-color-3;
$text-shadow-stroke: 1px -1px 4px #000000, -1px -1px 4px #000000,-1px 1px 4px #000000,1px 1px 4px #000000;
$text-shadow-stroke2: 1px -1px 2px #000000, -1px -1px 2px #000000,-1px 1px 2px #000000,1px 1px 2px #000000;
$text-shadow-primarycolor: 1px -1px 4px $primary-color, -1px -1px 4px $primary-color,-1px 1px 4px $primary-color,1px 1px 4px $primary-color;
$text-shadow-primarycolor2: 1px -1px 3px $primary-color-1, -1px -1px 4px $primary-color-1,-1px 1px 3px $primary-color-1,1px 1px 3px $primary-color-1;
$text-shadow-primarycolor3: 1px -1px 4px $primary-color-1, -1px -1px 4px $primary-color-1,-1px 1px 4px $primary-color-1,1px 1px 4px $primary-color-1,
    3px -3px 2px #000000, -3px -3px 2px #000000,-3px 3px 2px #000000,3px 3px 2px #000000;
$height-card-normal-size: 290px;
$blue-btn: hsl(220, 70%, 35%);
$blue-btn-0: hsl(220, 70%, 10%);
$blue-btn-1: hsl(220, 70%, 20%);
$blue-btn-2: hsl(220, 70%, 25%);
$blue-btn-3: hsl(220, 70%, 50%);
$blue-btn-4: hsl(220, 70%, 70%);
$blue-btn-5: hsl(220, 70%, 90%);
$width-order_quest: 260px;
$drop-show-order-quest-Done: drop-shadow(0px 0px 10px #faab02); 