.App {
    display: grid;
    grid-template-areas: 
        'extraDices extraDices skillTable skillTable skillTable skillTable skillTable skillTable skillTable tablePlayers tablePlayers tablePlayers'
        'extraDices extraDices skillTable skillTable skillTable skillTable skillTable skillTable skillTable tablePlayers tablePlayers tablePlayers'
        'diceNum diceNum skillTable skillTable skillTable skillTable skillTable skillTable skillTable tablePlayers tablePlayers tablePlayers'
        'd6img d6 skillTable skillTable skillTable skillTable skillTable skillTable skillTable tablePlayers tablePlayers tablePlayers'
        'd8img d8 skillTable skillTable skillTable skillTable skillTable skillTable skillTable tablePlayers tablePlayers tablePlayers'
        'd10img d10 skillTable skillTable skillTable skillTable skillTable skillTable skillTable . quest1 quest1'
        'd12img d12 skillTable skillTable skillTable skillTable skillTable skillTable skillTable . quest2 quest2'
        '. . order1 order2 order3 card1 card1 card2 card2 card3 card3 .'
        '. . order1 order2 order3 card1 card1 card2 card2 card3 card3 .'
        '. . nPotions . nTurn . btnTurn . btnShop . . .'; 

}


body{
    background-image: url(./background.png);
    background-size: cover;
    background-position: center; 
} 

.diceRolled{
    position: relative;
    background: #74aff3;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    padding-top: 6px;
    margin: 10px;
    color: black;
    font: 18px Arial, sans-serif;
    font-weight: 700;
    justify-self: center;
    align-self: center;
    text-align: center;
    
  }

.extraDices{
    grid-area: extraDices;
}
.diceLabel{
    grid-area: diceNum;
}
.incBtn:active,.decBtn:active{
    opacity: 0.7;
}
.incBtn{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    align-self: self-end;
    justify-self: self-start;
    margin: 7px;
    background: url("./images/plus.png");
    background-size: cover;
    border: 3px;
}
.decBtn{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    align-self: self-end;
    justify-self: self-end;
    margin: 7px;
    background: url("./images/menus.png");
    background-size: cover;
    border: 3px;
}



.diceImg{
    width: 70px;
    height: 70px;
    justify-self: center;
    align-self: center;
    
}
.diceImg:active,.diceImg:focus{
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(233,191,16,1) 65%, rgba(238,255,0,1) 100%);
    border-radius: 50%;
    border: none;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 0px 0px 30px 2px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 0px 0px 30px 2px rgba(0,0,0,0);  
}
.d6img{
    grid-area: d6img;
}

.d8img{
    grid-area: d8img;
}

.d10img{
    grid-area: d10img;    
}

.d12img{
    grid-area: d12img;

}

.d6{
    grid-area: d6;
    
}

.d8{
    grid-area: d8;
}

.d10{
    grid-area: d10;

}

.d12{
    grid-area: d12;
 
}

.potionLabel{
    grid-area: nPotions;
}

.btnTurn{
    grid-area: btnTurn;
}

.btnShop{
    grid-area: btnShop;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.quest1{
    grid-area: quest1;
}
.quest2{
    grid-area: quest2;
}

.order1{
    grid-area: order1;
}
.order2{
    grid-area: order2;
}
.order3{
    grid-area: order3;
}


.playerTable{
    grid-area: tablePlayers;
}

.skillsTable{
    grid-area: skillTable;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        'title1 title1 title2 title2'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill';
    align-items: center;
    justify-items: center;
    gap: 20px;
    background: rgb(161, 112, 226);
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.titleCraftingSkills{
    grid-area: title1;

}
.titleMagicResearch{
    grid-area: title2;

}
