@use 'variables' as v;

.Game {
    display: grid;
    grid-template-areas:
    'containerDices_Potion containerDices_Potion . extraDices extraDices extraDices  diceLeftTitle diceLeftTitle diceLeftTitle diceNum nTurnTitle nTurnTitle nTurn counterTimer counterTimer quest  quest quest quest quest quest quest'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable legenda legenda legenda'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable legenda legenda legenda'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable btnTurn btnTurn btnShop'
    'cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer orderContainer orderContainer orderContainer . playersOrderTable playersOrderTable playersOrderTable playersOrderTable playersOrderTable playersOrderTable'
    'cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer orderContainer orderContainer orderContainer . playersOrderTable playersOrderTable playersOrderTable playersOrderTable playersOrderTable playersOrderTable';
    grid-template-rows: 0.5fr repeat(5,1fr);
    grid-template-columns: repeat(22,1fr);
    gap: 3px;
    
}

body{
    background-image: url('./images/background6.png');
    background-color: rgb(66, 63, 63);
    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
    
} 

.timer{
    grid-area: counterTimer;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
}

  
.timer-container{ 
    grid-area: counterTimer;
   
}

.extra-dices{
    grid-area: extraDices;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
}


.no-active{
    filter: grayscale(1);  
    pointer-events: none;
}


.dice-left-title{
    grid-area: diceLeftTitle;
    height: 50px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-self: flex-end;
}
.dice-left-label{
    grid-area: diceNum;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: v.$label-color;
    height: v.$label-height;
    width: v.$label-width;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}

.n-turn-title{
    grid-area: nTurnTitle;
    height: 50px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-self: flex-end;
}
.n-turn-label{
    grid-area: nTurn;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: v.$label-color;
    height: v.$label-height;
    width: v.$label-width;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}

.container-dices-potion{
    grid-area: containerDices_Potion; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-potion{
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
    margin: 7px;
    margin-left: 22px;
    margin-bottom: 50px;
    margin-top: 10px;

}

.potion-img{
    grid-area: potionImg;
    height: 70px;
    align-self: center;
    justify-self: center;
}
.potion-label{
    grid-area: nPotions;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: v.$label-color;
    height: v.$label-height;
    width: v.$label-width;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 23px Arial, sans-serif;
    font-weight: 700;
}

.btn-turn-container{
    grid-area: btnTurn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    grid-area: cardContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.order-container{
    grid-area: orderContainer;
}
.quest{
    grid-area: quest;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.order1{
    grid-area: order1;
}
.order2{
    grid-area: order2;
}
.order3{
    grid-area: order3;
}


.player-table{
    grid-area: tablePlayers;
}

.skills-table{
    min-width: max-content;
    grid-area: skillTable;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        'title1 title1 title2 title2'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill';
    
    align-items: center;
    justify-items: center;
    gap: 20px;
    background: v.$skill-table-color;
    // background: rgb(161, 112, 226);
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.legend-container{
    grid-area: legenda;
}

.title-crafting-skills{
    grid-area: title1;

}
.title-magic-research{
    grid-area: title2;
}


.shop-container{
    grid-area: btnShop;
    
}

// @media (max-width:1440px) {
//     .btn-shop{
//         border: 2px solid v.$primary-color;
//         height: 80px;
//         width: 80px;

//     }
// }