$label-height: 50px;
$label-width: 50px;
$label-border-radius: 10px;
$label-background-color: #ddd88c;
$legend-color:#741313;


.Game {
    display: grid;
    grid-template-areas:
    'potionImg nPotions . extraDices extraDices extraDices  diceLeftTitle diceLeftTitle diceLeftTitle diceNum nTurnTitle nTurnTitle nTurn counterTimer counterTimer .  quest1 quest1 quest1 quest2 quest2 quest2'
    'd6img d6 skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable titleLegenda titleLegenda titleLegenda'
    'd8img d8 skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable legenda legenda legenda'
    'd10img d10 skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable legenda legenda legenda'
    'd12img d12 card1 card1 card1 card2 card2 card2 card3 card3 card3 . order1 order2 . . . . btnShop . btnTurn .'
    '. . card1 card1 card1 card2 card2 card2 card3 card3 card3 . order1 order2 . . . . .  . . .';
    grid-template-rows: 0.5fr repeat(5,1fr);
    grid-template-columns: repeat(22,1fr);
    gap: 3px;
}

body{
    background-image: url('./images/background6.png');
    
} 

.timer{
    grid-area: counterTimer;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
}

  
.timerContainer{ 
    grid-area: counterTimer;
   
}

  .extraDices{
    grid-area: extraDices;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
        'ed1 ed2 ed3'
        'ed4 ed5 ed6';
}
.eDice{
    background-image: url('./images/extraDice.png');
    background-size: cover;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.ed1{
    grid-area: ed1;
}
.ed2{
    grid-area: ed2;
}
.ed3{
    grid-area: ed3;
}
.ed4{
    grid-area: ed4;
}
.ed5{
    grid-area: ed5;
}
.ed6{
    grid-area: ed6;
}
.eDicePotion{
    background-image: url(./images/potion4.png);
    background-size: cover;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    
    color: rgb(247, 242, 242);
    text-shadow: 0px 0px 15px #000000;
    font-weight: 600;
    font-size: large;
    height: 30px;
    width: 25px;
}

.used-extra-dice{
    filter: grayscale(1);
}
.diceLeftTitle{
    grid-area: diceLeftTitle;
    height: 50px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-self: flex-end;
}
.diceLeftLabel{
    grid-area: diceNum;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: $label-background-color;
    height: $label-height;
    width: $label-width;
    border-radius: $label-border-radius;
    color: #850000;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}

.nTurnTitle{
    grid-area: nTurnTitle;
    height: 50px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-self: flex-end;
}
.nTurnLabel{
    grid-area: nTurn;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: $label-background-color;
    height: $label-height;
    width: $label-width;
    border-radius: $label-border-radius;
    color: #850000;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}


.diceContenitor{
    display: grid;
    grid-template-areas: 
        'labelD labelD'
        'btnInc btnDec';
}
.diceRolled{
    grid-area: labelD;
    align-self: end;
    justify-self: center;
    background: #ddd88c;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    color: rgb(133, 0, 0);
    font: 24px Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
    
  }

.incBtn:active,.decBtn:active{
    opacity: 0.7;
}
.incBtn,.decBtn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px;
}
.incBtn{
    background: url("./images/plus.png");
    background-size: cover;
    grid-area: btnInc;
    justify-self: self-end;
    
}
.decBtn{
    background: url("./images/menus.png");
    background-size: cover;
    grid-area: btnDec;
    justify-self: self-start;
}



.diceImg{
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
    position: relative;
    top: -10px;
}
.diceImg:active,.diceImg:focus{
    background:transparent;
    border-radius: 50%;
    border: none;
    -webkit-box-shadow: 5px 5px 10px 10px #FF8080, -9px 5px 10px 10px #FFE488, -7px -5px 10px 10px #8CFF85, 12px -5px 10px 10px #80C7FF, 12px 10px 10px 10px #E488FF, -10px 10px 10px 10px #FF616B, -10px -7px 10px 10px #8E5CFF, 0px 0px 10px 10px rgba(242,255,83,0); 
    box-shadow: 5px 5px 10px 10px #FF8080, -9px 5px 10px 10px #FFE488, -7px -5px 10px 10px #8CFF85, 12px -5px 10px 10px #80C7FF, 12px 10px 10px 10px #E488FF, -10px 10px 10px 10px #FF616B, -10px -7px 10px 10px #8E5CFF, 0px 0px 10px 10px rgba(242,255,83,0);
}
.d6img{
    grid-area: d6img;
}

.d8img{
    grid-area: d8img;
}

.d10img{
    grid-area: d10img;    
}

.d12img{
    grid-area: d12img;

}

.d6{
    grid-area: d6;
}

.d8{
    grid-area: d8;
}

.d10{
    grid-area: d10;

}

.d12{
    grid-area: d12;
 
}

.potionImg{
    grid-area: potionImg;
    height: 70px;
    align-self: center;
    justify-self: center;
}
.potionLabel{
    grid-area: nPotions;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: $label-background-color;
    height: $label-height;
    width: $label-width;
    border-radius: $label-border-radius;
    color: #850000;
    font: 23px Arial, sans-serif;
    font-weight: 700;
}

.btnTurn{
    grid-area: btnTurn;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.quest1{
    grid-area: quest1;
}
.quest2{
    grid-area: quest2;
}

.order1{
    grid-area: order1;
}
.order2{
    grid-area: order2;
}
.order3{
    grid-area: order3;
}


.playerTable{
    grid-area: tablePlayers;
}

.skillsTable{
    min-width: max-content;
    grid-area: skillTable;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        'title1 title1 title2 title2'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill'
        'skill skill skill skill';
    
    align-items: center;
    justify-items: center;
    gap: 20px;
    background: #a37a41;
    // background: rgb(161, 112, 226);
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.legenda{
    grid-area: legenda;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 270px;
}
.titleLegenda{
    grid-area: titleLegenda;
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    font-size: 26px;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    background-color: $legend-color;
    height: min-content;
    width: 305px;
    padding: auto;
    align-self: flex-end;
    text-shadow: rgb(0, 0, 0) 3px 1px 1px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
}
.rowLegenda{
    width: 135px;
    display: grid;
    grid-template-areas: 
        'attributeLegenda attributeLegenda imgAttributeLegenda'
        'diceLegenda1 diceLegenda2 diceLegenda3';
    padding: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: rgb(224, 195, 194);
    border-radius: 15px;
    border: 5px solid $legend-color;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
    
}
.imgLegenda{
    width: 35px;
    height: 35px;
    margin: auto;
}
.attributeLegenda{
    grid-area: attributeLegenda;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: rgb(46, 43, 43);
    text-shadow: rgb(145, 142, 142) 1px 1px 1px ;
    margin: auto;
}
.imgAttributeLegenda{
    
    grid-area: imgAttributeLegenda;
}
.diceLegenda1{
    grid-area: diceLegenda1;
}
.diceLegenda2{
    grid-area: diceLegenda2;
}
.diceLegenda3{
    grid-area: diceLegenda3;
}
.titleCraftingSkills{
    grid-area: title1;

}
.titleMagicResearch{
    grid-area: title2;
}


.shopContainer{
    grid-area: btnShop;
}
.btnShop{
    grid-area: btnShop;
    background: rgb(255, 255, 255);
    border: 4px solid $legend-color;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.btnShop:active{
    opacity: 0.8;
}


.dropdownShop{
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdownShop::before{
    content: '';
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background:#741313;
    transform: rotate(45deg);
  }
  
  .dropdownShop.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  }
  
  .dropdownShop.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }