@use '../../variables' as v;

.board-cards{
    background-color: v.$card-color--2;
    border-radius: 15px;
    border: v.$border-primary-4px;
    height: v.$height-card-normal-size;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.next-card-bc{
    position: absolute;
    bottom: 40px;
    left: 10px;
    height: 30px;
    width: 30px;
    border: v.$border-primary-4px;
    border-radius: 50%;
    z-index: 4;
    background-color: v.$primary-color-4;
    font-size: 10px;
    font-weight: 600;
    color: antiquewhite;
    text-shadow: v.$text-shadow-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-swiper{
    height: 74.5%;
    width: 55%;   
}
.swiper-slide{
    border-radius: 15px;
}

.bg-board-cards{
    position: absolute;
    background-image: url(./boardCards.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 220px;
    width: 220px;
    opacity: 0.7;
}