@keyframes shakeClock {
  0%,100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
      
  }
  50% {
    -webkit-transform: scale(1.3) rotateZ(180deg);
    transform: scale(1.3) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

.timer{
    background-image: url('./clock.png');
    background-size: contain;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 1px #b1b1b1;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: 700;
  }
  .working{
    animation: shakeClock 1s ease-out 0;
    animation-iteration-count: infinite;
  }
  .noWorking{
    -webkit-animation: rotate-scale-up 1s linear both;
    animation: rotate-scale-up 1s linear both;
    animation-iteration-count: 3;
  }
  
  