@use '../../variables' as v;

.board-players{
    background-color: v.$card-color--2;
    border-radius: 15px;
    border: v.$border-primary-4px;
    height: v.$height-card-normal-size;
    width: 105%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    height: 40px;
    width: 100%;
    background: v.$card-color--3;
    color: aliceblue;
}
.name-player{
    display: flex;
    justify-content: center;
    align-items: center;
    background: v.$card-color--1;
    height: 70%;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-shadow: v.$text-shadow-stroke;
    text-transform: capitalize;
}
.find-next-card{
    position: absolute;
    bottom: 292px;
    right: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: v.$primary-color-4;
    border: v.$border-primary-2px;
    font-size: 15px;
    font-weight: 580;
    color: antiquewhite;
    text-shadow: v.$text-shadow-stroke;
    cursor: pointer;

}
.find-next-card:active{
    filter: brightness(0.5);
}

.arrow {
    border: solid rgb(230, 230, 230);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
  }

.shift-left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.shift-right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.shift-left:hover{
    transform: scale(1.2) rotate(135deg);
    -webkit-transform: scale(1.2) rotate(135deg);
}
.shift-right:hover{
    transform: scale(1.2) rotate(-45deg);
    -webkit-transform: scale(1.2) rotate(-45deg);
}
.container-cards-BP{
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}
.container-card1-BP{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.next-card{
    position: relative;
    top: 12px;
    height: 30px;
    border: v.$border-primary-4px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    width: 95%;
    z-index: 4;
    background-color: v.$primary-color-4;
    font-size: 17px;
    font-weight: 600;
    color: antiquewhite;
    text-shadow: v.$text-shadow-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
}