@use '../../../variables' as v;

$perc-size-x-big: 2;
$perc-size-big:1.2;
$perc-size-normal:1;
$perc-size-small:0.9;
$perc-size-x-small:0.7;

.gold{
    background-image: url(./gold4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
    z-index: 4;
    height: calc(1vmin * $perc-size-normal);
    width: calc(1vmin * $perc-size-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.2vh -0.2vh 0.5vh #000000, -0.2vh -0.2vh 0.5vh #000000,-0.2vh 0.2vh 0.5vh #000000,0.2vh 0.2vh 0.5vh #000000;
    border-radius: 50%;
    font-weight: 700;
    color: #e0e0e0;
    filter: drop-shadow(0.2vh 0.2vh 0.6vh #180202);
}
.gold-no-active{
    filter: grayscale(0.8);
}

.x-small-size-gold{
    height: calc(4vmin * $perc-size-x-small);
    width: calc(4vmin * $perc-size-x-small);
    font-size: calc(1.8vmin * $perc-size-x-small);
    padding-left: 0.1vw;
}
.small-size-gold{
    height: calc(4vmin * $perc-size-small);
    width: calc(4vmin * $perc-size-small);
    font-size: calc(1.8vmin* $perc-size-small);
}
.medium-size-gold{
    height: calc(4vmin * $perc-size-normal);
    width: calc(4vmin * $perc-size-normal);
    font-size: calc(1.8vmin * $perc-size-normal);;
}
.big-size-gold{
    height: calc(4vmin * $perc-size-big);
    width: calc(4vmin * $perc-size-big);
    font-size: calc(1.8vmin * $perc-size-big);
}

.x-big-size-gold{
    height: calc(4vh * $perc-size-x-big);
    width: calc(2vw * $perc-size-x-big);
    font-size: calc(1.8vmin * 1.5);;
}
