@use '../../variables' as v;

$sizeNormal:1;
$sizeSmall:0.63;


.card{
    width: calc(220px * $sizeNormal);
    height: calc(v.$height-card-normal-size * $sizeNormal);
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: 
        'imgE t1 goldItem'
        '. t2 .'
        '. t3 imgO';   
    border: 5px solid v.$primary-color;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
    z-index: 2;
}

.textCard{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-family: Georgia, serif;
    font-size: calc(25px * $sizeNormal);
    color: #ffffff;
    text-shadow: 0 -1px 4px #000000, 0 -2px 5px rgb(56, 56, 10), 0 -3px 10px #42270c, 0 -4px 10px rgb(80, 19, 19);
    font-weight: 700;
    font-variant: small-caps;
    width: 120px;
    margin-top: 20px;
    z-index: 4;
}

.goldItem{
    grid-area: goldItem;
    background-image: url(./image/gold4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
    filter: drop-shadow(0.1px 0.1px 0.1px #180202) drop-shadow(-0.1px 0.1px 0.1px #180202) drop-shadow(0.1px -0.1px 0.1px #180202) drop-shadow(-0.1px -0.1px 0.1px #180202);
    z-index: 3;
    height: calc(60px * $sizeNormal);
    width: calc(60px * $sizeNormal);
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    text-shadow: 1px -1px 2px #000000, -1px -1px 2px #000000,-1px 1px 2px #000000,1px 1px 2px #000000;
    border-radius: 50%;
    font-weight: 700;
    font-size: calc(24px * $sizeNormal);
    color: #e0e0e0;
}
.imgCard{
    grid-area: t2;
    justify-self: center;
    align-self: center;
    width: calc(200px * $sizeNormal);
    height: calc(200px * $sizeNormal);
    opacity: 0.7;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0.1px 0.1px 0.1px #180202) drop-shadow(-0.1px 0.1px 0.1px #180202) drop-shadow(0.1px -0.1px 0.1px #180202) drop-shadow(-0.1px -0.1px 0.1px #180202);
}

.imgOriginCard{
    grid-area: imgO;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    justify-items: center;
    position: relative;
    bottom: 5px;
    height: calc(100px * $sizeNormal);
    width: calc(100px * $sizeNormal);
    opacity: 0.7;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.imgEnchantmentsCard{
    grid-area: imgE;
    height: calc(100px * $sizeNormal);
    width: calc(100px * $sizeNormal);
    opacity: 1;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

///////////////////////////////////SMALL VERSION//////////////////////////////////////////////
.cardSmall{
    width: calc(220px * $sizeSmall);
    height: calc(290px * $sizeSmall);
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: 
        'imgE t1 goldItem'
        '. t2 .'
        '. t3 imgO';

    /* background: #aa683b; */
    
    
    border: 5px solid v.$primary-color;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
    
}



.textCardSmall{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-family: Georgia, serif;
    font-size: calc(25px * $sizeSmall);
    color: #ffffff;
    text-shadow: 0 -1px 4px #000000, 0 -2px 5px rgb(56, 56, 10), 0 -3px 10px #42270c, 0 -4px 10px rgb(80, 19, 19);
    font-weight: 700;
    font-variant: small-caps;
    width: 120px;
    margin-top: 20px;
    z-index: 4;
}


.goldItemSmall{
    grid-area: goldItem;
    background-image: url(./image/gold4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
    filter: drop-shadow(0.1px 0.1px 0.1px #180202) drop-shadow(-0.1px 0.1px 0.1px #180202) drop-shadow(0.1px -0.1px 0.1px #180202) drop-shadow(-0.1px -0.1px 0.1px #180202);
    z-index: 3;
    height: calc(60px * $sizeSmall);
    width: calc(60px * $sizeSmall);
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    text-shadow: 1px -1px 2px #000000, -1px -1px 2px #000000,-1px 1px 2px #000000,1px 1px 2px #000000;
    border-radius: 50%;
    font-weight: 700;
    font-size: calc(24px * $sizeSmall);
    color: #e0e0e0;
}
.imgCardSmall{
    grid-area: t2;
    justify-self: center;
    align-self: center;
    width: calc(200px * $sizeSmall);
    height: calc(200px * $sizeSmall);
    opacity: 0.7;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0.1px 0.1px 0.1px #180202) drop-shadow(-0.1px 0.1px 0.1px #180202) drop-shadow(0.1px -0.1px 0.1px #180202) drop-shadow(-0.1px -0.1px 0.1px #180202);
}

.imgOriginCardSmall{
    grid-area: imgO;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    justify-items: center;
    position: relative;
    bottom: 5px;
    height: calc(100px * $sizeSmall);
    width: calc(100px * $sizeSmall);
    opacity: 0.7;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.imgEnchantmentsCardSmall{
    grid-area: imgE;
    height: calc(100px * $sizeSmall);
    width: calc(100px * $sizeSmall);
    opacity: 1;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

///////////////////////


.showed{
    background: v.$card-color-0;
}
.no-showed{
    // background: #242220;
    background: url(./image/backCard6_darker.png);
    background-size: cover;
    background-repeat:no-repeat ;
    transform: rotateY(180deg);
    transition: transform 1s;
}

.t1{
    grid-area: t1;
}
.t2{
    grid-area: t2;
}
.t3{
    grid-area: t3;
}
.no-visible{
    visibility: hidden;
}
.backpack{
    background-image: url(./image/backpack3.png);
}

.scroll{
    background-image: url(./image/scroll1.png);
}

.ring{
    background-image: url(./image/ring2.png);
}

.grimoire{
    background-image: url(./image/grimoire3.png);
}

.sword{
    background-image: url(./image/sword3.png);
}

.staff{
    background-image: url(./image/staff.png); 
}

.crossbow{
    background-image: url(./image/crossbow2.png);
}

.warhammer{
    background-image: url(./image/warhammer.png);
}

.bracers{
    background-image: url(./image/bracers2.png);
}

.helmet{
    background-image: url(./image/helmet.png);
}

.greaves{
    background-image: url(./image/greaves.png);
}

.plotarmor{
    background-image: url(./image/plotarmor2.png);
}

.fiery{
     background-image:url(./image/fiery1.png); 
}
.shocking{
    background-image: url(./image/shocking3.png);
}

.everlasting{
    background-image: url(./image/everlasting4.png);
}

.divine{
    background-image: url(./image/divine.png); 
}

.elves{
    background-image: url(./image/elves_white.png);
}

.dwarves{
    background-image: url(./image/dwarves_white.png);
}

.orcs{
    background-image: url(./image/orcs_white.png); 
}
.dragons{
   background-image: url(./image/dragons_white.png);
}