.log-out{
    position: absolute;
    right: 40px;
    top: 40px;
    height: 50px;
    width: 50px;
    background-image: url(./logout.webp);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    cursor: pointer;
}
.log-out-label{
    color: white;
    position: relative;
    top:48px    
}
.log-out:focus,.log-out:active{
    filter: contrast(0.4);
}