@use '../../variables' as v;

.Game{
    height: 100%;
    width: 100%;
}


.game-container {
    height: 100%;
    max-height: 1050px;
    width: 100%;
    display: grid;   //btnTurn btnTurn btnShop
    grid-template-areas:
    'containerDices_Potion containerDices_Potion legenda upperContainer upperContainer upperContainer  upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer .  btnShop . . . . .'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable containerOrderQuest containerOrderQuest .'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable containerOrderQuest containerOrderQuest .'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable containerOrderQuest containerOrderQuest .'
    'cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer  tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers . containerOrderQuest containerOrderQuest .'
    'cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer  tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers . btnTurn . .';
    grid-template-rows: 0.5fr repeat(5,1fr);
    grid-template-columns: repeat(22,1fr);
    gap: 5px;
    position: relative;
    top: 30px;
}

.fullscreen{
    top: 60px;
    left: 10px;
    row-gap:10px;
}
.wait-state-game{
    pointer-events: none;
}

.upper-container{
    grid-area: upperContainer;
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    justify-content: space-between;
}
.upper-container-titles{
    height: 40px;
}

.upper-container-titles-extra-dices{
    position: relative;
    left: 20px;
    height: 90px;
    align-self: flex-end;
    
}

.timer{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
}

.container-extra-dices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.extra-dices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 165px;
}

.no-active{
    filter: grayscale(1);  
    pointer-events: none;
}


.container-dice-left{
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: center;
    align-items: center;
}


.dice-left-label{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: v.$label-color;
    height: 50px;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}


.container-turn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.n-turn-label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$label-color;
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}

.container-dices-potion{
    grid-area: containerDices_Potion; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.container-potion{
    position: relative;
    // left: 10px;
    bottom: 10px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
    width: 100%;
    min-width: 140px;
    max-width: 165px;
}   

.potion-img{
    position: relative;
    right: 5px;
    height: 70px;
    padding-left: 20px;
    padding-right: 21px;
}
.potion-label{
    position: relative;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$label-color;
    height: v.$label-height;
    width: v.$label-width;
    max-width: v.$label-width;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 23px Arial, sans-serif;
    font-weight: 700;
}

.btn-turn-container{
    grid-area: btnTurn;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
}

.cards-container{
    grid-area: cardContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 90%;
    position: relative;
    bottom: 55px;    
    z-index: 2;
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2px;
}
.card1-going-away{
    position: relative;
    bottom: 10px;
    border: v.$border-primary-4px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    width: 96%;
    height: 25px;
    z-index: 4;
    background-color:v.$card-color--2;
    font-size: 17px;
    font-weight: 600;
    color: antiquewhite;
    text-shadow: v.$text-shadow-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forge-btn-wrapper{
    position: relative;
    bottom: 33px;
}
.container-order-quests{
    grid-area: containerOrderQuest;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.container-quests{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    height: 35%;
}
.container-order{
    height: 57%;
   
}
.players-table{
    grid-area: tablePlayers;
    position: relative;
    bottom: 55px;    
    display: flex;
    justify-content: center;
    width: 550px;
    pointer-events: all;
    z-index: 0;
}

// .skills-table{
//     grid-area: skillTable;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     min-width: fit-content;
//     max-width: max-content;
//     min-height: 330px;
//     height: 80%;
//     background: v.$skill-table-color;
//     padding: 10px;
//     margin: 5px;
//     border-radius: 15px;
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
//     position: relative;
//     left: 30px;
// }

// .container-title-skills{
//     display: flex;
//     flex-direction: column;
//     width: 50%;
//     height: 100%;
//     max-height: 290px;
// }

// .title-skills{
//     align-self: center;
//     height: 60px;
//     width: 365px;
//     margin-bottom: 20px;
// }
// .skills-container{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     height: 100%;
//     width: 100%;
//     row-gap: 10px;
//     pointer-events: all;
// }


.skills-table{
    grid-area: skillTable;
    display: grid;
    grid-template-areas: 
    'titleSkill1 titleSkill2'
    'skills1 skills2';
    grid-template-rows: 10% 85%;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    min-width: 1220px;
    width: 95%;
    min-height: 380px;
    max-height: 420px;
    height: 80%;
    background: v.$skill-table-color;
    padding: 10px;
    padding-top: 20px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    justify-self: center;
}
.title-skills-table-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-skills{
    height: 60px;
    width: 365px;
    
}

#title-skills1{
    grid-area: titleSkill1;
}

#title-skills2{
    grid-area: titleSkill2;
}

.skills-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    column-gap: 5px;
    height: 100%;
    width: 100%;
    row-gap: 15px;
    pointer-events: all;
}


#crafting-skills{
    grid-area: skills1;
    align-items: flex-start;
}

#magic-research-skills{
    grid-area: skills2;
    align-items: flex-end;
}



.legend-container{
    grid-area: legenda;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 6;
}


.shop-container{
    grid-area: btnShop;
    justify-self: center;
    align-self: center;   
    pointer-events: all; 
}

.score-end-game{
    position: absolute;
    height: 100%;
    width: 100%;
    background: v.$black-bg;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-score-end-game{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 75%;
    width: 40%;
    gap: 20px;
    border: v.$border-primary-4px;
    border-radius: 10px;
    background: v.$card-color-0;
    padding: 50px;
    padding-top: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 2px;
    color: white;
    text-shadow: v.$text-shadow-primarycolor3;
    font-size: 25px;
}
.btn-score-end-game{
    margin-top: 20px;
    z-index: 2;
    height: 100px;
    width: 400px;
    filter: drop-shadow(0px 0px 10px #fa0202);
    border-radius: 15px;
    background: v.$bg-color-3-4;
    border: 3px solid;
    border-color: v.$primary-color-1;
    color: white;
    font-size: 40px;
    word-spacing: 3px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: v.$text-shadow-stroke;
    cursor: pointer;
}

.btn-score-end-game:active{
    filter: brightness(0.6);
}


.shop-score-end-game{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;

}
.bar-score-end-game{
    width: 100%;
    height: 3px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 6px #fa0202);
}

.gold-score-end-game{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.final-score-end-game{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 2px;
    color: white;
    text-shadow: v.$text-shadow-primarycolor3;
    font-size: 50px;
}
$scaling-xx-small-screen: (0.7);
$scaling-x-small-screen : (0.8);
$scaling-small-screen : (0.92);
$scaling-27-screen : (1.1);
$scaling-big-screen : (1.2);

@media (width < 1400px) {
    
    .upper-container{
        scale:($scaling-x-small-screen); 
    }

    .container-dices-potion{
        scale:($scaling-x-small-screen);
        width: 130%;
    }
    .container-potion{
        position: relative;
        left: 7px;
        
    }
    .potion-img{
        scale: (1.1);
        position: relative;
        right: 3px;
    }
    
    .potion-label{
        min-width: 45px;
    }

    .btn-turn-container{
        scale:($scaling-small-screen);
        position: relative;
        bottom: 60px;
        right: 25px;
        z-index: 11;
    }

    .cards-container{
        scale:($scaling-x-small-screen);
        width: 125%;
        position: relative;
        right: 20px;
    }
    .players-table{
        scale:($scaling-x-small-screen);
        position: relative;
        left: 0px;
    }
    .container-order-quests{
        scale:($scaling-small-screen);
        position: relative;
        right: 35px;
        
    }
    .container-quests{
        scale:($scaling-small-screen);
    }
    .container-order{
        scale:($scaling-small-screen);
    }
    

    .skills-table{
        position: relative;
        left: 30px;
        height: 60%;
        min-height: 374px;
        max-width: 1230px;
        padding: 5px;
        padding-top: 10px;
        row-gap: 10px;
        scale:($scaling-small-screen);
    }

    .title-skills-table-container{
        scale:($scaling-small-screen);
    }
    
    .skills-container{
        scale:($scaling-small-screen);
        width:  109%;
    }

    #crafting-skills{
        position: relative;
        right: 30px;
        align-items: flex-start;
    }
    
    #magic-research-skills{
        position: relative;
        right: 30px;
        align-items: flex-end;
    }
    .legend-container{
        scale:($scaling-small-screen);
        position: relative;
        top: 20px;
        left: 70px;
    }
    .shop-container{
        scale:($scaling-small-screen);
    }
    
    .container-score-end-game{
        scale:($scaling-small-screen);
    }
    .btn-score-end-game{
        scale:($scaling-small-screen);
    }

}

@media (1400px <= width <= 1700px) {
    
    .upper-container{
        scale:($scaling-small-screen); 
    }

    .container-dices-potion{
        scale:($scaling-small-screen);
        width: 130%;
    }
    .container-potion{
        position: relative;
        left: 7px;
        
    }
    .potion-img{
        scale: (1.1);
        position: relative;
        right: 3px;
    }
    
    .potion-label{
        min-width: 45px;
    }

    .btn-turn-container{
        scale:($scaling-small-screen);
        position: relative;
        bottom: 60px;
        right: 25px;
        z-index: 11;
    }

    .cards-container{
        scale:(0.95);
        width: 125%;
        position: relative;
        right: 20px;
    }
    .players-table{
        scale:(1);
        position: relative;
        left: 0px;
    }
    .container-order-quests{
        scale:($scaling-small-screen);
        position: relative;
        right: 35px;
        
    }
    .container-quests{
        scale:($scaling-small-screen);
    }
    .container-order{
        scale:($scaling-small-screen);
    }
    

    .skills-table{
        position: relative;
        left: 30px;
        height: 60%;
        min-height: 374px;
        max-width: 1230px;
        padding: 5px;
        padding-top: 10px;
        row-gap: 10px;
        
    }

    .title-skills-table-container{
        scale:($scaling-small-screen);
    }
    
    .skills-container{
        scale:($scaling-small-screen);
        width:  109%;
    }

    #crafting-skills{
        position: relative;
        right: 30px;
        align-items: flex-start;
    }
    
    #magic-research-skills{
        position: relative;
        right: 30px;
        align-items: flex-end;
    }
    .legend-container{
        scale:($scaling-small-screen);
        position: relative;
        top: 20px;
        left: 70px;
    }
    .shop-container{
        scale:($scaling-small-screen);
    }
    
    .container-score-end-game{
        scale:($scaling-small-screen);
    }
    .btn-score-end-game{
        scale:($scaling-small-screen);
    }

}


@media (1700px <= width <= 1900px) {
    
    

    .container-dices-potion{
        scale:($scaling-small-screen);
        width: 130%;
    }
    .container-potion{
        position: relative;
        
        
    }
    .potion-img{
        scale: (1.1);
        position: relative;
        right: 3px;
    }
    
    .potion-label{
        // position: relative;
        // left: 7px;
        min-width: 45px;
    }

    .btn-turn-container{
        scale:($scaling-small-screen);
    }

    .cards-container{
        scale:(0.95);
        width: 111%;
    }
    
    .container-order-quests{
        scale:($scaling-small-screen);
    }
    .container-quests{
        scale:($scaling-small-screen);
    }
    .container-order{
        scale:($scaling-small-screen);
    }
    .players-table{
        scale:(1);
    }

    .skills-table{
        height: 60%;
        min-height: 374px;
        max-width: 1230px;
        padding: 5px;
        padding-top: 10px;
        row-gap: 10px;
        
    }

    .title-skills-table-container{
        scale:($scaling-small-screen);
    }
    
    .skills-container{
        scale:($scaling-small-screen);
        width:  109%;
    }

    #crafting-skills{
        position: relative;
        right: 30px;
        align-items: flex-start;
    }
    
    #magic-research-skills{
        position: relative;
        right: 30px;
        align-items: flex-end;
    }
    .legend-container{
        scale:($scaling-small-screen);
        position: relative;
        top: 10px;
        left: 30px;
    }
    .shop-container{
        scale:($scaling-small-screen);
    }
    
    .container-score-end-game{
        scale:($scaling-small-screen);
    }
    .btn-score-end-game{
        scale:($scaling-small-screen);
    }
}


@media (height > 1200px ) and (width > 2400px) {
    
    .game-container{
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        max-height: 1200px;
    }
    .upper-container{
        scale:(1.1);
        margin-bottom: 40px;
        position: relative;
        left: 40px;
    }

    .upper-container-titles{
        scale:($scaling-big-screen);
    }

    .upper-container-titles-extra-dices{
        scale:($scaling-big-screen);
    }
    .timer{
        scale:($scaling-big-screen);
    }
    .container-extra-dices{
        scale:($scaling-big-screen);
        gap: 20px;
    }
    .extra-dices{
        scale:($scaling-big-screen);
        
    }
    .container-dice-left{
        scale:($scaling-big-screen);
        gap: 20px;
    }
    
    .container-turn{
        scale:($scaling-big-screen);
        gap: 20px;
    }

    

    .container-dices-potion{
        scale:(1.35);
        height: 70%;
        position: relative;
        top: 80px;
    }
    
    
    

    .btn-turn-container{
        scale:($scaling-big-screen);
        position: relative;
        bottom: 70px;
    }

    .cards-container{
        scale:($scaling-big-screen);
        width: 80%;
        height: 70%;
        margin-left: 100px;
        position: relative;
        bottom:40px;
    }
    
    .container-order-quests{
        scale:(1.1);
    }
    .container-quests{
        scale:(1.1);
    }
    .container-order{
        scale:(1.1);
        height: 50%;
        position: relative;
        left:3px;
        bottom: 25px;
    }
    .players-table{
        scale:($scaling-big-screen);
        position: relative;
        bottom:25px;
    }

    .skills-table{
        max-height: 650px;
        width: 93.5%;
        margin-right: 20px;
    }

    .title-skills-table-container{
        scale:($scaling-big-screen);
    }
    .title-skills{
        scale:($scaling-big-screen);
    }
    .skills-container{
        scale:(1.25);
        width: 30%;
        height: 80%;
        position: relative;
        top: 60px;
        position: relative;
        left: 40px;
    }

    
    .legend-container{
        scale:($scaling-big-screen);
        z-index: 4;
        position: relative;
        top: 23px;
    }
    .shop-container{
        scale:($scaling-big-screen);
        position: relative;
        left: 40px;
    }
    .container-score-end-game{
        scale:($scaling-big-screen);
    }
    .btn-score-end-game{
        scale:($scaling-big-screen);
    }


}


