
@use '../../variables' as  v;

.btnTurn{
    width: 140px;
    height: 90px;
    color: #fff;
    background: hsl(0, 100%, 60%);
    border-radius: 5px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    text-shadow: rgb(0, 0, 0) 3px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
  