
@use '../../variables' as  v;



.btn-turn{
    width: 150px;
    height: 90px;
    color: #fff;
    background: hsl(0, 100%, 60%);
    border-radius: 5px;
    margin: auto;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    padding: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    text-shadow: v.$text-shadow-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-turn:hover{
    opacity: 0.9;
}
.turn-done{
    background:  v.$blue-btn;
    pointer-events: none;
}
