
.btnTurn{
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  }
  
  .button-turn.not-done{
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .not-done span {
    display: block;
    width: 100%;
    height: 100%;
  }
  .not-done:before,
  .not-done:after {
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .not-done:before {
    height: 0%;
    width: 2px;
  }
  .not-done:after {
    width: 0%;
    height: 2px;
  }
  .not-done:hover{
    background: transparent;
    box-shadow: none;
    border-radius: 5px;
  
  }
  .not-done:hover:before {
    height: 100%;
  }
  .not-done:hover:after {
    width: 100%;
  }
  .not-done span:hover{
     color: rgba(2,126,251,1);
  }
  .not-done span:before,
  .not-done span:after {
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .not-done span:before {
    width: 2px;
    height: 0%;
  }
  .not-done span:after {
    width: 0%;
    height: 2px;
  }
  .not-done span:hover:before {
    height: 100%;
  }
  .not-done span:hover:after {
    width: 100%;
  }
  .not-done{
    background: transparent;
    box-shadow: none;
  }
  
  .button-turn.done{
    background: rgb(30, 32, 129);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: rgba(2,126,251,1);
    
  }
  .done span {
    width: 100%;
    height: 0%;
    color: rgb(248, 252, 255);
  }
  