.log-out{
    position: absolute;
    right: 1.3vw;
    top: 4vh;
    height: 8vh;
    width: 2.5vw;
    background-image: url(./logout.webp);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    cursor: pointer;
}
.log-out-label{
    color: white;
    position: relative;
    top:6vh;  
    right: 0.2vw;
    font-size: 1.7vh;
}
.log-out:focus,.log-out:active{
    filter: contrast(0.4);
}