@use '../../variables' as v;



.order-card{
    justify-self: center;
    align-self: center;
    // background: v.$card-color-0;
    background: v.$bg-color-1;
    border-radius: 15px;
    border: v.$border-primary-4px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    height: 100%;
    width: calc(v.$width-order_quest - 10px);
    
}
.order-done{
    filter: v.$drop-show-order-quest-Done;
}
.order-title{
    position: relative;
    z-index: 3;
    top: 20px;
    right: 15px;
    font-family: 'Shizuru', cursive;
    color: white;
    text-shadow: v.$text-shadow-primarycolor;
    font-weight: 700;
    font-size: 30px;
}
.order-gold{
    position: relative;
    left: 95px;
    bottom: 25px; 
}

.order-img{
    position: absolute;
    justify-self: center;
    align-self: center;
    height: 270px;
    width: 270px;
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.order-img.fiery{
    background-image:url(../Card/image/fiery1.png); 
}
.order-img.shocking{
   background-image: url(../Card/image/shocking3.png);
}

.order-img.everlasting{
   background-image: url(../Card/image/everlasting4.png);
}

.order-img.divine{
   background-image: url(../Card/image/divine.png); 
}

.order-img.elves{
   background-image: url(../Card/image/elves2.png);
}

.order-img.dwarves{
   background-image: url(../Card/image/dwarves_black.png);
}

.order-img.orcs{
   background-image: url(../Card/image/orcs2.png); 
}
.order-img.dragons{
  background-image: url(../Card/image/dragons.png);
}

.request-order{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: v.$border-primary-2px;
    background-color: v.$primary-color-2;
    z-index: 2;
    width: 90%;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-shadow: v.$text-shadow-stroke;
    margin: 4px;
    text-transform: capitalize;
}

.reward-orders{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    background-color: hsl(0, 11%, 9%);
    border-radius: 15px;
    border: 2px solid black;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-shadow: v.$text-shadow-stroke;
    margin: 4px;
    z-index:2;
}
*.req-done{
    text-decoration: line-through v.$primary-color 3px;
    filter: drop-shadow(0px 0px 5px red)
}

