@use '../variables' as v;

.Game{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.end-turn{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-visible-end-turn{
    visibility: hidden;
}
.report-turn{
    background-color: rgb(209, 122, 71);
    border-radius: 5px;
    z-index: 100001;
    height: 60%;
    width: 70%; 
}

.game-container {
    display: grid;   //btnTurn btnTurn btnShop
    grid-template-areas:
    'containerDices_Potion containerDices_Potion legenda upperContainer upperContainer upperContainer  upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer upperContainer .  btnShop . . containerOrderQuest containerOrderQuest .'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable containerOrderQuest containerOrderQuest .'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable containerOrderQuest containerOrderQuest .'
    'containerDices_Potion containerDices_Potion skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable skillTable containerOrderQuest containerOrderQuest .'
    'cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer  tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers . containerOrderQuest containerOrderQuest .'
    'cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer cardContainer  tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers tablePlayers . btnTurn . .';
    grid-template-rows: 0.5fr repeat(5,1fr);
    grid-template-columns: repeat(22,1fr);
    gap: 3px;

    //DA INSERIRE CON FULL SCREEN
    // margin-top: 80px;
    
}
.wait-state-game{
    pointer-events: none;
}

.upper-container{
    grid-area: upperContainer;
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    justify-content: space-between;
}
.upper-container-titles{
    height: 40px;
}

.upper-container-titles-extra-dices{
    position: relative;
    left: 20px;
    height: 90px;
    align-self: flex-end;
    
}

.timer{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
}

.container-extra-dices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.extra-dices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 165px;
}

.no-active{
    filter: grayscale(1);  
    pointer-events: none;
}


.container-dice-left{
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: center;
    align-items: center;
}



.dice-left-label{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: v.$label-color;
    height: 50px;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}


.container-turn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.n-turn-label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$label-color;
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}

.container-dices-potion{
    grid-area: containerDices_Potion; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.container-potion{
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
    margin: 7px;
    margin-left: 22px;
    margin-bottom: 50px;
    margin-top: 10px;

}

.potion-img{
    grid-area: potionImg;
    height: 70px;
    align-self: center;
    justify-self: center;
}
.potion-label{
    grid-area: nPotions;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: v.$label-color;
    height: v.$label-height;
    width: v.$label-width;
    border-radius: v.$label-border-radius;
    color: v.$primary-color;
    font: 23px Arial, sans-serif;
    font-weight: 700;
}

.btn-turn-container{
    grid-area: btnTurn;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
}

.card-container{
    grid-area: cardContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 90%;
    position: relative;
    bottom: 55px;    
}
.card1-going-away{
    position: relative;
    bottom: 10px;
    border: v.$border-primary-4px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    width: 96%;
    height: 25px;
    z-index: 4;
    background-color:v.$card-color--2;
    font-size: 17px;
    font-weight: 600;
    color: antiquewhite;
    text-shadow: v.$text-shadow-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-order-quests{
    grid-area: containerOrderQuest;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-quests{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
}
.container-order{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 55%;
    margin-left: 28px;
    position: relative;
    bottom: 10px;
}
.players-table{
    grid-area: tablePlayers;
    position: relative;
    bottom: 55px;    
}

.skills-table{
    grid-area: skillTable;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 1350px;
    max-width: max-content;
    min-height: 330px;
    height: 80%;
    background: v.$skill-table-color;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container-title-skills{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    max-height: 290px;
}

.title-skills{
    align-self: center;
    height: 60px;
    width: 365px;
    margin-bottom: 20px;
}
.skills-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    row-gap: 10px;
}

.legend-container{
    grid-area: legenda;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.shop-container{
    grid-area: btnShop;
    justify-self: center;
    align-self: center;    
}


// @media (max-width:1440px) {
//     .btn-shop{
//         border: 2px solid v.$primary-color;
//         height: 80px;
//         width: 80px;

//     }
// }