@use '../../variables' as v;

$quest-height: 100px;
$quest-width: 248px;
$drop-shadow-color-quest-done: #ffc401;

.containerQuest{
    width: $quest-width;
    height: $quest-height;
    background-color: v.$bg-color-1;
    border-radius: 12px;
    border: v.$border-primary-4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 96%;
    
}

.progressBarEmpty{
    position: absolute;

    height: $quest-height;
    width: $quest-width;
    border-radius: 10px;
    
}

.progressBarFill{
    position: relative;
    height: 100%;
    background-color: v.$primary-color-4;
    border-radius: 7px;
    transition: width 0.5s ease-out;
    
}

.questText{
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
    background-color: transparent;
    height: 80px;
    width: 100%;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 4px #000000, 0 -2px 5px rgb(56, 56, 10), 0 -3px 10px #42270c, 0 -4px 10px rgb(80, 19, 19);
    z-index: 100;
}
.questText::before{
    content: '';
    position: relative;
    right: 0px;
    bottom: 40px;
    height: 10px;
    width: 22px;
    background: v.$primary-color;
    transform: rotate(45deg);
    z-index: 100;
}

.goldQuest{
    background-image: url(../Card/image/gold4.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    height: 40px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-shadow: 1px -1px 2px #000000, -1px -1px 2px #000000,-1px 1px 2px #000000,1px 1px 2px #000000;
    border-radius: 50%;
    font-weight: 700;
    font-size: large;
    color: #e0e0e0;
    
}
.goldQuest.no-doneQuest{
    filter: drop-shadow(0.1px 0.1px 0.1px #180202) drop-shadow(-0.1px 0.1px 0.1px #180202) drop-shadow(0.1px -0.1px 0.1px #180202) drop-shadow(-0.1px -0.1px 0.1px #180202) grayscale(0.7);
}


.goldQuest.doneQuest{
    filter: drop-shadow(0.1px 0.1px 1px $drop-shadow-color-quest-done) drop-shadow(-0.1px 0.1px 1px $drop-shadow-color-quest-done) drop-shadow(0.1px -0.1px 1px $drop-shadow-color-quest-done) drop-shadow(-0.1px -0.1px 1px $drop-shadow-color-quest-done);
    animation: strech 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}