@use '../../../variables' as v;

.ReportPlayer{
    position: absolute;
    height: 100%;
    width: 100%;
    background: v.$black-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    z-index: 10;

}
.ReportPlayer.no-active-report{
    display: none;
}
.title-report-player{
    color: white;
    text-shadow: v.$text-shadow-primarycolor;
    font-size: 9vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container-report{
    height: 70%;
    width: 80%;
    border: v.$border-primary-6px;
    border-radius: 1.3vh;
    background: v.$bg-color-1-2;
    display: grid;
    grid-template-areas: 
    'pr0 pr2 pr4 pr6'
    'pr1 pr3 pr5 pr7';
    grid-template-columns: repeat(4,24%);
    grid-template-rows: repeat(2, 48%);
    gap: 2vh;
    padding: 4vh;
}
.bg-img-report{
    position: absolute;
    top: 13.5%;
    border-radius: 1.3vh;
    background-image: url(./bg.png);
    background-size: cover;
    height: 71vh;
    width: 80.5vw;
    padding: 4vh;
    opacity: 0.1;
    z-index: 1;
}
.player-report{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: v.$card-color-0;
    padding: 3vh;
    border-radius: 1.3vh;
    border: v.$border-primary-4px;
    font-weight: 550;
    color: rgb(212, 212, 212);
    text-shadow: v.$text-shadow-stroke2;
    font-size: 1.6vh;
    font-family: Tahoma, Geneva, sans-serif;
    z-index: 3;
    
}
#pr0{
    grid-area: pr0;
}

#pr1{
    grid-area: pr1;
}
#pr2{
    grid-area: pr2;
}
#pr3{
    grid-area: pr3;
}
#pr4{
    grid-area: pr4;
}
#pr5{
    grid-area: pr5;
}
#pr6{
    grid-area: pr6;
}
#pr7{
    grid-area: pr7;
}

.player-report-username{
    color: v.$primary-color-6;
    text-shadow: v.$text-shadow-stroke2;
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 0.3vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.player-report-title{
    margin-top: 1vh;
    font-weight: 550;
    color: v.$primary-color-5;
    text-shadow: v.$text-shadow-stroke2;
    font-size: 1.7vh;
    font-family: Verdana, Geneva, sans-serif;
}
.player-report-skill{
    color: white;
    font-weight: 500;
    font-size: 1.7vh;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: capitalize;
}
.player-report-item{
    color: white;
    font-size: 1.7vh;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: capitalize;
}
.timer-restart-game{
    color: white;
    text-shadow: v.$text-shadow-primarycolor;
    font-size: 6vh;
}
.player-report-title.quest-report{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.player-report-quest{
    color: v.$blue-btn-5;
    font-size: 1.7vh;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: capitalize;
}