@use '../../variables' as v;

.btn-crafting{
    position: relative;
    right: 15px;
    top: 20px;
    align-self: flex-end;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid v.$primary-color;
    background-image: url(./craftingicon1.webp);
    background-size: cover;
}

.cross-cursor{
    cursor: url(./crosscursor5.webp), auto;
}


@keyframes strechForge {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.forge-cursor{
    // cursor: url('./forgeCursor.png'), auto;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 6px #fa0202); 
    animation: strechForge  1s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    cursor: pointer;
}
