.back-btn{
    position: absolute;
    right: 1.1vw;
    top: 15vh;
    height: 4vh;
    width: 2.5vw;
    background-image: url(./back.webp);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    cursor: pointer;
}
.back-btn:focus,.back-btn:active{
    filter: contrast(0.4);
}

.back-label{
    color: white;
    position: relative;
    top: 5vh;
    left: 0.2vw;
    text-align: center;
    font-size: 1.7vh;
}