
@use '../../variables' as  v;

.container-toast{
    position: absolute;
    right: 100px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    border-radius: 15px;
    border: v.$border-primary-6px;
    background: v.$bg-color-2;
    z-index: 100;
}

.question-toast{
    height:  50%;
    width: 80%;
    background: v.$label-color;
    color: v.$primary-color;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border: v.$border-primary-4px;
    display: flex;
    font-family: "Lucida Console", Monaco, monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:2px;

}
.container-btn-toast{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.btn-toast{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border:v.$border-primary-4px;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: v.$text-shadow-stroke;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-toast:active{
    filter: brightness(0.7);
}
.btn-toast.positive-btn{
    background:  v.$blue-btn;
}
.btn-toast.negative-btn{
    background: #b91b1b;
}