@use '../../../variables' as v;

$quest-height: 85px;


.container-quest{
    width: v.$width-order_quest;
    height: $quest-height;
    background-color: v.$bg-color-5;
    border-radius: 12px;
    border: v.$border-primary-4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}
.questD-done{
    filter: v.$drop-show-order-quest-Done;
}

.progress-bar-empty{
    position: absolute;
    height: $quest-height;
    width: v.$width-order_quest;
    border-radius: 10px;
    
}

.progress-bar-fill{
    position: relative;
    height: 100%;
    max-width: 100%;
    background-color: v.$primary-color-4;
    border-radius: 7px;
    transition: width 0.5s ease-out;
    
}

.quest-text{

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: transparent;
    height: 80px;
    width: 100%;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: v.$text-shadow-primarycolor2;
    z-index: 3;
}
.quest-text::before{
    content: '';
    position: relative;
    left: 4px;
    bottom: 30px;
    height: 8px;
    width: 14px;
    background: v.$primary-color;
    transform: rotate(45deg);
    z-index: 3;
}

.gold-container-quest{
    position: relative;
    right:10px;
}