@use '../variables' as v;
.Logged{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.opacity-logged{
    height: 100%;
    width: 100%;
    background: #00000098;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-logged{
    height: 70%;
    width: 60%;
    background: v.$bg-color;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-logged{
    background-image: url(./titleLogged4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    z-index: 2;
}
.bg-img{
    position: absolute;
    background-image: url(./bgLogged4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 60%;
    opacity: 0.4;
    z-index: 2;

}
.container-btn-logged{
    display: flex;
    height: 50%;
    width: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.logged-btn{
    z-index: 2;
    height: 100px;
    width: 400px;
    border-radius: 15px;
    background-color: v.$primary-color;
    border: 3px solid;
    border-color: v.$primary-color-4;
    color: white;
    font-size: 35px;
    word-spacing: 3px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: v.$text-shadow-stroke;
    cursor: pointer;
}
.logged-btn:active{
    filter: brightness(0.6);
}
.inactive-btn{
    filter: grayscale(0.9);
    color:rgb(136, 136, 136);
    pointer-events: none;
}
.log-out{
    position: absolute;
    right: 40px;
    top: 40px;
    height: 50px;
    width: 50px;
    background-image: url(../images/logOut.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    cursor: pointer;
}
.log-out-label{
    color: white;
    position: relative;
    top:48px;  
}
.log-out:focus,.log-out:active{
    filter: contrast(0.4);
}
.username-log{
    position: absolute;
    top:50px;
    left: 50px;
    color: white;
    display: flex;
    height: 50px;
    width: 240px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.user-logged{
    height: 50px;
    width: 250px;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.friend-list-container{
    position: absolute;
    left: 40px;
    height: 70%;
    width: 15%;
}
.connected-label{
    font-size: 25px;
    position: relative;
    left: 110px;
    top: 10px;
    letter-spacing: 2px;
}
.online-label{
    color:rgb(113, 255, 47);
}
.offline-label{
    color:rgb(255, 47, 47);
}

.submit-lobby-id{
    position: absolute;
    right: 150px;
    bottom: 240px;
    height: 100px;
    width: 550px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.submit-lobby-id.open-submit-lobby-id{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
    z-index: 3;
}
.submit-lobby-id.closed-submit-lobby-id{
    opacity: 1;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}

.field-submit-lobby-id{
    width: 75%;
    height: 30px;
    border-radius: 15px;
    font-size: 25px;
    padding: 15px;
}
.btn-submit-lobby-id{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: v.$bg-color-3;
    border: 2px solid;
    border-color: v.$bg-color-4;
    letter-spacing: 1px;
    color: white;
    font-size: 24px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: v.$text-shadow-stroke;
    cursor: pointer;
}

.btn-submit-lobby-id:active{
    filter: brightness(0.6);
}