@use '../variables' as v;
.Logged{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.opacityLogged{
    height: 100%;
    width: 100%;
    
    background: #000000da;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerLogged{
    height: 70%;
    width: 60%;
    background: v.$bg-color;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleLogged{
    background-image: url(./titleLogged4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    z-index: 100;
}
.bgImg{
    position: absolute;
    background-image: url(./bgLogged4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 60%;
    opacity: 0.4;
    z-index: 3;

}
.containerBtnLogged{
    display: flex;
    height: 50%;
    width: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.loggedBtn{
    z-index: 100;
    height: 100px;
    width: 400px;
    border-radius: 15px;
    background-color: v.$primary-color;
    border: 3px solid;
    border-color: v.$primary-color-4;
    color: white;
    font-size: 35px;
    word-spacing: 3px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: v.$text-shadow-stroke;
    cursor: pointer;
}
.loggedBtn:active{
    filter: contrast(0.6);
}
.logOut{
    position: absolute;
    right: 40px;
    top: 40px;
    height: 50px;
    width: 50px;
    background-image: url(../images/logOut.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    cursor: pointer;
}
.logOutLabel{
    color: white;
    position: relative;
    top:48px    
}
.logOut:focus,.logOut:active{
    filter: contrast(0.4);
}