@use '../variables' as v;
.Logged{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.opacity-logged{
    height: 100%;
    width: 100%;
    
    background: #00000098;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-logged{
    height: 70%;
    width: 60%;
    background: v.$bg-color;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-logged{
    background-image: url(./titleLogged4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    z-index: 2;
}
.bg-img{
    position: absolute;
    background-image: url(./bgLogged4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 60%;
    opacity: 0.4;
    z-index: 2;

}
.container-btn-logged{
    display: flex;
    height: 50%;
    width: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.logged-btn{
    z-index: 2;
    height: 100px;
    width: 400px;
    border-radius: 15px;
    background-color: v.$primary-color;
    border: 3px solid;
    border-color: v.$primary-color-4;
    color: white;
    font-size: 35px;
    word-spacing: 3px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: v.$text-shadow-stroke;
    cursor: pointer;
}
.logged-btn:active{
    filter: contrast(0.6);
}
.log-out{
    position: absolute;
    right: 40px;
    top: 40px;
    height: 50px;
    width: 50px;
    background-image: url(../images/logOut.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    cursor: pointer;
}
.log-out-label{
    color: white;
    position: relative;
    top:48px;  
}
.log-out:focus,.log-out:active{
    filter: contrast(0.4);
}
.username-log{
    position: absolute;
    top:50px;
    left: 50px;
    color: white;
    display: flex;
    height: 50px;
    width: 240px;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.user-logged{
    height: 50px;
    width: 150px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}